.margin-auto {
  margin: 0 auto;
  max-width: 1400px;
}

.container {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  gap: 2rem;
}

.loading {
  position: absolute;
  font-size: 3rem;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  transform: translateX(-50%);
}
