.container {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  gap: 2rem;
}

.movie-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  min-width: 25rem;
  /* max-width: 40rem; */
  flex: 1 1 45%;
}

.movie {
}
