.movie-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 5px; */
  padding: 1rem;
  box-shadow: 0 0.1rem 0.4rem rgba(255, 255, 255, 0.4);
  /* max-width: 40rem; */
  min-width: 25rem;
  flex: 1 1 26%;
}

.movie-content {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}

.movie-vote {
  display: flex;
  justify-content: flex-end;
  gap: 1.2rem;
  font-weight: 700;
}
